/* Font */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;700&display=swap');

:root {
  /* Font weights */
  --light-fw: 200;
  --regular-fw: 400;
  --bold-fw: 700;
}
/* basic resets */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background-color: #f0f0f0;
  width: 100vw;
  height: 100vh;
  background: center
              no-repeat
              linear-gradient(rgba(245, 245, 245, 0.85),
              rgba(245, 245, 245, 0.85)),
              url(../imgs/bg/math_magicians_bg.jpg);
  backdrop-filter: blur(4px);
  font-family: 'Manrope', sans-serif;
  font-weight: var(--light-fw);
}
